<h1><%= @word.string_form() %>
<a type="button" class="btn btn-info btn-add" href="/<%= @word.string_form() %>/definitions/new">Add definition</a>
</h1>
<hr>
<ul>
  <% @word.definitions.each() do |definition| %>
    <li class="list-group-item"><mark><%= definition.part_of_speech() %></mark>
      <ol>
        <% definition.meanings().each() do |meaning| %>
          <li><%= meaning %> <a class="edit" href="/<%= @word.string_form() %>/<%= definition.part_of_speech() %>/edit/<%=definition.meanings.index(meaning) %>">edit</a></li>
        <% end %>
      </ol>

      <a href="/<%= @word.string_form() %>/newline/<%= definition.part_of_speech() %>" id="line_add">add line</a>

      <% if @edit != nil && definition == @definition  %>
        <form class="form-inline" action="/<%= @word.string_form() %>/<%= @definition.part_of_speech() %>/edit/<%=@index %>" method="post">
          <input type="textarea" class="form-control" name="line" value="<%= @line %>">
          <button type="submit" class="btn btn-warning">change line</button>
        </form>
      <% end %>

    </li>
  <% end %>
</ul>
<a href="/" class="home">Dictionary</a>
